<style>
    .task-list {
        list-style: none;
    }

    .del:checked + span {
        color: red;
        text-decoration: line-through;
    }

</style>

<form method="POST" action="/task/add">
    <label>Add Takss</label>
    <input type="text" name="task" placeholder="Add task" />
    <input type="submit" value="Submit" />
</form>

<%= title %>

<form method="POST" action='/tasks/delete'>
    <ul class="task-list">
        <% tasks.forEach(function(task) { %>
            <li>
                <label>
                    <input type="checkbox" name="tasks" class="del" value="<%= task %>" />        
                    <span><%= task %></span>
                </label>
            </li>
        <% }) %>
    </ul>
    <input type="submit" value="Remove" />
</form>

<h3>Next business call</h3>

Name: <%= call.name %><br />
Company: <%= call.company %><br />
Phone: <%= call.phone %><br />
Time: <%= call.time %><br />

<h3>Edit next call</h3>
<form action="/call/add" method="POST">
    <label>Contact Name</label>
    <input type="text" name="name" placeholder="Name" />
    <br /><br />
    <label>Company</label>
    <input type="text" name="company" placeholder="Company" />
    <br /><br />
    <label>Phone</label>
    <input type="text" name="phone" placeholder="Phone" />
    <br /><br />
    <label>Time</label>
    <input type="text" name="time" placeholder="Time" />
    <br /><br />
    <input type="submit" value="Submit">
</form>
